<app-post-form></app-post-form>
<div class="my-4" *ngFor="let post of newPosts">
  <p-card>
    <h5 style="line-height: 0 !important;">{{post.title}}</h5>
    <p class="pb-4">/Username</p>
    <div class="pb-2 row">
      <div class="col">
        <button pButton pRipple type="button" icon="pi pi-comment" label="Comments" class="p-button-secondary p-button-text"></button>
        <button pButton pRipple type="button" icon="pi pi-share-alt" label="Share" class="p-button-secondary p-button-text"></button>
      </div>
    </div>
  </p-card>
</div>
