@import 'colors/_tailwind.scss';

/*
Dark or Light
*/
$darkMode: true;

/*
General component attributes
*/

// Global
$bodyColor: $white;
$bgHoverColor: $gray-100;
$borderColor: $gray-300;
$borderHoverColor: $gray-500;
$textColor: $gray-900;
$borderRadius: .375rem;
$boxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

// Forms
$placeholderColor: $gray-500;
$switchBg: $gray-300;
$switchBgHover: $gray-400;

// Cards & Panel
$cardBg: $white;

/*
  App light theme colors: Primary, Secondary, Info, Warning, Help, Danger
  Fade attributes will be used to style: Outline, Fade, Text buttons and Messages
*/

// Primary
$fadePrimaryColor: $blue-50;
$fadePrimaryHoverColor: $blue-100;
$fadePrimaryActiveColor: $blue-200;
$fadePrimaryTextColor: $blue-500;

$primaryColor: $blue-500;
$primaryHoverColor: $blue-600;
$primaryActiveColor: $blue-700;
$primaryTextColor: $white;

// Success
$fadeSuccessColor: $green-50;
$fadeSuccessHoverColor: $green-100;
$fadeSuccessActiveColor: $green-200;
$fadeSuccessTextColor: $green-500;

$successColor: $green-500;
$successHoverColor: $green-600;
$successActiveColor: $green-700;
$successTextColor: $white;

// Info
$fadeInfoColor: $cyan-50;
$fadeInfoHoverColor: $cyan-100;
$fadeInfoActiveColor: $cyan-200;
$fadeInfoTextColor: $cyan-500;

$infoColor: $cyan-500;
$infoHoverColor: $cyan-600;
$infoActiveColor: $cyan-700;
$infoTextColor: $white;

// Warning
$fadeWarningColor: $amber-50;
$fadeWarningHoverColor: $amber-100;
$fadeWarningActiveColor: $amber-200;
$fadeWarningTextColor: $amber-500;

$warningColor: $amber-500;
$warningHoverColor: $amber-600;
$warningActiveColor: $amber-700;
$warningTextColor: $black;

// Help
$fadeHelpColor: $pink-50;
$fadeHelpHoverColor: $pink-100;
$fadeHelpActiveColor: $pink-200;
$fadeHelpTextColor: $pink-500;

$helpColor: $pink-500;
$helpHoverColor: $pink-600;
$helpActiveColor: $pink-700;
$helpTextColor: $white;

// Danger
$fadeDangerColor: $red-50;
$fadeDangerHoverColor: $red-100;
$fadeDangerActiveColor: $red-200;
$fadeDangerTextColor: $red-500;

$dangerColor: $red-500;
$dangerHoverColor: $red-600;
$dangerActiveColor: $red-700;
$dangerTextColor: $white;

// Secondary
$fadeSecondaryColor: $gray-50;
$fadeSecondaryHoverColor: $gray-100;
$fadeSecondaryActiveColor: $gray-200;
$fadeSecondaryTextColor: $gray-500;

$secondaryColor: $gray-900;
$secondaryHoverColor: $gray-700;
$secondaryActiveColor: $gray-800;
$secondaryTextColor: $white;

@if $darkMode {
  // General dark component attributes
  $bodyColor: $gray-900;
  $bgHoverColor: $gray-700;
  $borderColor: $gray-500;
  $borderHoverColor: $gray-400;
  $textColor: $gray-200;

  // Forms
  $inputBg: $gray-800;
  $switchBg: $gray-600;
  $switchBgHover: $gray-700;

  // Cards & Panel
  $cardBg: $gray-800;

  // App dark theme colors: Primary, Secondary, Info, Warning, Help, Danger
  // Fade attributes used to style: Outline, Fade, Text buttons and Messages
  $fadePrimaryColor: $gray-700;
  $fadePrimaryHoverColor: $gray-600;
  $fadePrimaryActiveColor: $gray-500;
  $fadePrimaryTextColor: $yellow-500;

  $primaryColor: $yellow-500;
  $primaryHoverColor: $yellow-600;
  $primaryActiveColor: $yellow-700;
  $primaryTextColor: $gray-200;

  // dark success
  $fadeSuccessColor: $gray-700;
  $fadeSuccessHoverColor: $gray-600;
  $fadeSuccessActiveColor: $gray-500;
  $fadeSuccessTextColor: $green-500;

  $successColor: $green-500;
  $successHoverColor: $green-600;
  $successActiveColor: $green-700;
  $successTextColor: $gray-200;

  // dark info
  $fadeInfoColor: $gray-700;
  $fadeInfoHoverColor: $gray-600;
  $fadeInfoActiveColor: $gray-500;
  $fadeInfoTextColor: $cyan-500;

  $infoColor: $cyan-500;
  $infoHoverColor: $cyan-600;
  $infoActiveColor: $cyan-700;
  $infoTextColor: $gray-200;

  // dark warning
  $fadeWarningColor: $gray-700;
  $fadeWarningHoverColor: $gray-600;
  $fadeWarningActiveColor: $gray-500;
  $fadeWarningTextColor: $amber-500;

  $warningColor: $amber-500;
  $warningHoverColor: $amber-600;
  $warningActiveColor: $amber-700;
  $warningTextColor: $black;

  // dark help
  $fadeHelpColor: $gray-700;
  $fadeHelpHoverColor: $gray-600;
  $fadeHelpActiveColor: $gray-500;
  $fadeHelpTextColor: $pink-500;

  $helpColor: $pink-500;
  $helpHoverColor: $pink-600;
  $helpActiveColor: $pink-700;
  $helpTextColor: $gray-200;

  // dark danger
  $fadeDangerColor: $gray-700;
  $fadeDangerHoverColor: $gray-600;
  $fadeDangerActiveColor: $gray-500;
  $fadeDangerTextColor: $red-500;

  $dangerColor: $red-500;
  $dangerHoverColor: $red-600;
  $dangerActiveColor: $red-700;
  $dangerTextColor: $gray-200;

  // dark secondary
  $fadeSecondaryColor: $gray-700;
  $fadeSecondaryHoverColor: $gray-600;
  $fadeSecondaryActiveColor: $gray-500;
  $fadeSecondaryTextColor: $gray-200;

  $secondaryColor: $gray-600;
  $secondaryHoverColor: $gray-700;
  $secondaryActiveColor: $gray-800;
  $secondaryTextColor: $gray-200;
}

// Mandatory Designer Variables
@import './variables/general';
@import './variables/form';
@import './variables/button';
@import './variables/panel';
@import './variables/_data';
@import './variables/_overlay';
@import './variables/_message';
@import './variables/_menu';
@import './variables/_media';
@import './variables/_misc';

