<nav class="navbar navbar-expand-lg p-mb-4">
  <a class="navbar-brand" id="logo" routerLink="/home">Forum</a>
  <button class="navbar-toggler border-none" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="onMenu()">
    <span><i class="pi pi-bars" *ngIf="!isOpen"></i></span>
    <span><i class="pi pi-times" *ngIf="isOpen"></i></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="nav-active">New post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Popular post</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
  </div>
</nav>





